version: "3"
services:
  emr-service:
    image: omrsregrepo/bahmni_092_emr:01032021
    restart: unless-stopped 
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /development_emr:/development
      - /development_emr/bahmni_config_release:/development/bahmni_config_release
      - /development_emr/bahmniapps_release:/development/bahmniapps_release
      - /development_emr/dhisconnector_mappings:/development/dhisconnector_mappings
      - /development_emr/eregister_concepts_release:/development/eregister_concepts_release
      - /development_emr/openmrs_reporting_release:/development/openmrs_reporting_release
      - /development_emr/openmrs-module-appointments-release:/development/openmrs-module-appointments-release
      - /development_emr/openmrs-module-xdssender-release:/development/openmrs-module-xdssender-release
      - /development_emr/openmrs-module-bahmnicore-release:/development/openmrs-module-bahmnicore-release
      - /development_emr/openmrs-module-registrationcore-release:/development/openmrs-module-registrationcore-release
      - /development_emr/openmrs-module-dhisconnector-release:/development/openmrs-module-dhisconnector-release
      
    command: [/usr/sbin/init, /bin/bash, "--privileged"]
    ports:
      - "443:443" #https
      - "80:80" #http
      - "8000:8000"
      - "33062:3306"
      - "8050:8050" #openmrs ws and rest api live here
    networks:
      hmis_network:
        ipv4_address: 172.27.0.3

  erp-service:
    image: omrsregrepo/bahmni_092_erp:01032021                                                                                                                                                                                                                                                                  
    privileged: true
    restart: always
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /development_erp:/development
      - /development_erp/odoo_addons:/development/odoo_addons
      - /development_erp/bahmni_addons:/development/bahmni_addons
    command: [/usr/sbin/init, /bin/bash, "--privileged"]
    ports:
      - "8069:8069" #odoo lives here
    networks:
      hmis_network:
        ipv4_address: 172.27.0.2

networks:
  hmis_network:
    ipam:
      driver: default
      config:
        - subnet: 172.27.0.0/16
