[Unit]
Description=Bahmni continuous deployment
After=docker.service



[Service]
WorkingDirectory=/development_emr/openmrs-module-bahmnicore-release
ExecStart=/development_emr/openmrs-module-bahmnicore-release/gitpull_bahmnicore.sh


User=openmrs
RestartSec=10
Restart=always


[Install]
WantedBy=default.target
