[Unit]
Description=Bahmni continuous deployment
After=docker.service
After=mysqlbootstrap.service
After=dockerbootstrap.service


[Service]
WorkingDirectory=/development_emr/openmrs-module-xdssender-release
ExecStart=/development_emr/openmrs-module-xdssender-release/gitpull_xdssender.sh


#User=openmrs
RestartSec=10
Restart=always


[Install]
WantedBy=default.target
