[Unit]
Description=Bahmni continuous deployment
After=docker.service



[Service]
WorkingDirectory=/development_emr/openmrs-module-registrationcore-release
ExecStart=/development_emr/openmrs-module-registrationcore-release/gitpull_registrationcore.sh


User=openmrs
RestartSec=604800


[Install]
WantedBy=default.target
