[Unit]
Description=Serialized Object continuous deployment
After=docker.service
After=mysqlbootstrap.service
After=dockerbootstrap.service


[Service]
WorkingDirectory=/development_emr/openmrs_reporting_release
ExecStart=/development_emr/openmrs_reporting_release/gitpull_serial.sh


RestartSec=10
Restart=always


[Install]
WantedBy=default.target
