[Unit]
Description=Bahmni continuous deployment [For Drug Concepts]
After=docker.service
After=mysqlbootstrap.service
After=dockerbootstrap.service


[Service]
WorkingDirectory=/development/eregister_concepts_release
ExecStart=/development/eregister_concepts_release/restore_concepts.sh
StandardOutput=file:/var/log/restore_concepts.log
StandardOutput=file:/var/log/restore_conceptsbugs.log

User=administrator
RestartSec=10
Restart=always


[Install]
WantedBy=default.target