[Unit]
Description=Bahmni continuous deployment
After=docker.service



[Service]

ExecStart=/usr/local/bin/modules.sh


User=openmrs
RestartSec=604800

[Install]
WantedBy=default.target
