[Unit]
Description=Bahmni continuous deployment
After=docker.service



[Service]

ExecStart=/usr/local/bin/modules.sh


User=openmrs
RestartSec=86400
Restart=always


[Install]
WantedBy=default.target
